# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env*
.python-version

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
